@font-face {
    font-family: Polaroid;
    src: url(font/FF\ Real\ Head\ Pro/);
}
*{
      margin:0;
      padding:0;
      box-sizing: border-box;
      outline: none; 
}
  
body{
  height: max-content;
  font-family: font-face="Polaroid";
  overflow-x: hidden;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}
.bg-img{
  background-color: whitesmoke;
  background-size: cover;
  min-height:75vh;
  position:relative;
  background-repeat: no-repeat;
  color:white;
}
 /*main body*/
 
 .wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}

  .contact-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
  }
  
  .contact-info{
    background:white;
    border-radius: 5px;
    color: black;
    max-width: 400px;
    line-height: 86px;
    padding-left: 50px;
    font-size: 16px;
    margin-right: 20px;
    margin-top: 44px;
  }
  .contact-info i{
    margin-right: 20px;
    font-size: 25px;
  }
  .contact-form{
    max-width: 700px;
    margin-right: 50px;
  }
  
  .contact-info, .contact-form{
    flex: 1;
  }
  
  .contact-form h2{
    color: black;
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 800;
  }
  
  .contact-form .text-box{
    background: white;
    color: black;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .text-box:first-child{
    margin-right: 15px;
  }
  
  .contact-form textarea{
    background: white;
    color: black;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 20px;
    opacity: 0.9;
  }
  
  .contact-form .send-btn{
    float: right;
    background:black;
    color: white;
    width: 120px;
    border:none;
    border-radius: 7px;
    padding: 7px;
    margin-top: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .contact-form .send-btn:hover{
    background:white;
    color:black;
    border: solid black 1px;
  }
  
  @media screen and (max-width: 950px){
    .contact-section{
      flex-direction: column;
    }
  
    .contact-info, .contact-form{
      margin: 30px 50px;
    }
  
    .contact-form h2{
      font-size: 30px;
    }
  
    .contact-form .text-box{
      width: 100%;
      background-color: white;
    }
  }
  
  /*css for alert messages*/
  
  .alert-success{
    z-index: 1;
    background: #D4EDDA;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #3AD66E;
    border-radius: 4px;
  }
  
  .alert-error{
    z-index: 1;
    background: #FFF3CD;
    font-size: 18px;
    padding: 20px 40px;
    min-width: 420px;
    position: fixed;
    right: 0;
    top: 10px;
    border-left: 8px solid #FFA502;
    border-radius: 4px;
  }
  
  
/*Navbar Section*/

/*for manipulation of the total number of items in the cart dropdown*/
:root{
  --after-content:'3'

}

nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-wrap: wrap;
  align-items: center;
  height: 55px;
  padding: 0 30px;
} 


  
nav .logo img{
  width: 100%;
  height: 27px;
}

nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 30px;
  
}  
  
nav .nav-items li{

  list-style: none;
  padding-left: 0px;
  padding: 0 15px;;
}

nav .nav-items li a{
  color: black;
  font-size: 16px;
  font-weight: 630;
  text-decoration: none;
}

.red:hover,
.testimonials:hover{
  color: #F04231;
}

.orange:hover{
  color: #FF8200;
}

.yellow:hover{
  color: #FFB80C;
}

.green:hover{
  color: #78BE20;
}

.blue:hover{
  color: #198CD9;
}  
  

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 15px;
  padding-top: 1px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .cancel-icon{
  padding-top: 3px;
}


nav .cart-icon{
  position: absolute;
  left: 91%;
  top: 31%;
  font-size: 15px;
  cursor: pointer;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
  cursor: pointer;
}

nav .cancel-search-icon{
  display: none;
}

nav .user-icon:hover{
  color: #f04231;
}
nav .cart-icon:hover{
  color: black;
}

/*Username*/
.userbtn{
  background-color: white;
  color: black;
  margin-right: 5px;
  font-size: 16px;
  margin-top: 4px;
  font-weight: 600;
  border: none;
}

.userbtn:focus{
  outline: none;
}

.username{
  display: inline-block;
  padding-top: 0.3px;
}

.username-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #efefefef;
  min-width: 150px;
  right: 0px;
  margin-top: 3px;
  z-index: 1;
}



.username-content i{
  padding-right: 7px;
  color: gray;
}

.username-content a {
  color: black;
  font-weight: 500;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.username-content .user{
  border-bottom: 2px solid #efefefef;
  pointer-events: none;
}

.username-content a:hover {
  background-color: #efefefef;
}


.username:hover .username-content {
  display: block;
}



.username:hover .userbtn {
  background-color: white;
  color: #f04231;
}

  
.userbtn .fa-user-alt{
  font-size: 16px;
  
}




/*cart-dropdown*/
.shopping-cart{
  position: absolute;
  width: 26%;
  background-color: white;
  border: 1px solid #efefefef;
  right: 7.7%;
  top: 80%;
}

.cart-header{
  padding: 4px 7px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}

.cart-wrapper{
  overflow-y: auto;
  max-height: 250px;
}

.subtotal{
  text-align: right;
  padding-top: 12px;
  padding-right: 19px;
  font-weight: 600;
}

 a .view-cart{
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: 7px auto 15px;
  padding:7px;
  border: none;
  border-radius: 7px;
}

a .view-cart:hover{
  background-color: white;
  color: black;
  outline: solid black 1px;
}


a:hover{
  text-decoration: none;
}


.cart-icon{
  text-align: right;
  margin-top: 1.85px;
}

.cart-item{
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 3% 2%;
  border-top: solid 1px #efefefef;
}

.cart-item .product-info{
  line-height: 10px;
}

.cart-item img{
  width: 85%;
}

.cart-item .product-info .variation{
  font-size: 13px;
  margin-bottom: 10px;
}

.cart-item h6{
  text-align: left;
  margin-top: 8px;
  font-weight: 600;
}

.other-info{
  display: flex;
  justify-content: space-between;
}

.quantity, .price{
  font-size: 13px;
}

.price{
  color: red;
  font-weight: bold;
}


.cancel-btn{
 color: gray;
 margin-right: 10px;
 font-size: 11px;
}

.cancel{
  text-align: right;
}

.hide{
  display: none;
}

#cart-total-items{
  font-size: 10px;
  font-weight: 600;
  color: white;
  width: 17px;
  height: 17px;
  padding-top: 1px;
  display: inline-block;
  text-align: center;
  position: relative;
  background-color: #f04231;
  border-radius: 50%;
  top: -10px;
  right: 29%;
}



@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
    
  }

  .shopping-cart{
    right: 10.3%;
  }

  nav .cart-icon{
    left: 88%;
  }


}

  @media (max-width: 1140px) {
    nav{
      padding: 0px;
      margin: 0px;
    }

    nav .logo img{
      padding-left: 30px;
    }

    nav .nav-items.active{
      right: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }

    nav .nav-items{
      position: fixed;
      padding: 10px 50px 0 50px;
      text-align: center;
      z-index: 99;
      top: 48px;
      width: 100%;
      right: -100%;
      height: 100%;
      background: white;
      display: inline-block;
      transition: right 0.3s ease;
    }
  
    nav .nav-items li a{
      font-size: 16px;
    }

    nav .cart-icon{
      top: 28%;
      left: 83%;
    }
   

    .username{
      display: block;
      position: absolute;
      top: 24%;
      left: 89.3%;
    }

    .username-content{
      margin-top: 5px;
    }
  

    nav .menu-icon{
      position: absolute;
      display: block;
      margin-top: 5px;
      left: 90%;
      padding-right: 20px;
    }
  
    nav .menu-icon span{
      display: block;
      color: black;
      font-size: 16px;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      position: absolute;
      display: block;
      margin-top: 5px;
      color:black;
      left: 90%;
      padding-right: 20px;
      
    }
    .shopping-cart{
      position: absolute;
      width: 290px;
      top: 85%;
      right: 15%;
    }
    
  
  }   

    @media (max-width: 768px){

      nav .menu-icon{
        left: 89%;
        padding-right: 20px;
      }

      nav .cancel-icon.show{
        left: 89%;
        padding-right: 20px !important;
        
      }
     
      .shopping-cart{
        right: 15%;
      }

      nav .cart-icon{
        left: 80%;
      }
     
  
      .username{
        left: 88%;
      }

      .shopping-cart{
        right: 18%;
      }


    }

    @media (max-width: 467px){
      nav .menu-icon{
        left: 87%;
        padding-right: 20px;
      }

      nav .cancel-icon.show{
        left: 87%;
        padding-right: 20px;
        
      }
     
      nav .cart-icon{
        left: 75%;
      }
     
  
      .username{
        left: 85%;
      }

      .shopping-cart{
        right: 22%;
      }
    }

/*footer*/
footer{
    background-color: black;
    color:white;
    position: relative;
    width: 100%;
    height: min-content;
    bottom: 0;

  }
  
  .footer-about{
    font-size: 14px;
    margin-top: 20px;
  }
  
  .footer-about a:hover{
    color: #f04231;
  }
  
  .footer-about img{
    max-width: 100%;
    height:40px;
    margin-left: 10px;
  }
  
  
  .footer-about h3{
    font-family: font-face="FF Real Head";
    font-weight: 700;
    font-size: 20px;
    margin-left: 15px;
  }
  
  .footer-about p{
    font-family: font-face="FF Real Head";
    font-size: 12px;
    margin-left: 15px;
  }
  
  .footer-widget{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .footer-widget H6{
    font-size: 16px;
    font-weight: 700;
  }
  
  .social-icon ul{
    padding-left: 0;
  }
  
  .footer-widget li{
    line-height: 25px;
    list-style: none;
    font-family: font-face="FF Real Head";
  }
  
  .footer-widget ul li a{
    line-height: 20px;
    list-style: none;
  }
  
  .footer-widget ul li:hover{
    color: #F04231;
  }
  
  .social-icon li a{
    color: white;
    font-family: font-face="FF Real Head";
  }
  
  .social-icon li{
    color: white;
    font-family: font-face="FF Real Head";
  }
  
  .social-icon li a:hover{
    color: #F04231;
  }
  
  .dti-logo img{
    max-width: 100%;
    height:40px;
  }
  
  .footer-copyright-text{
    font-family: font-face="FF Real Head";
    font-size: 12px;
  }
  
