@font-face {
    font-family: Polaroid;
    src: url(font/FF\ Real\ Head\ Pro/);
  }
  
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      outline: none;
     
  }
  
  body{
      height: 100%;
      background-color: white;
      font-family: font-face="Polaroid";
      padding-top: 20px;
      overflow-x: hidden;
      flex-direction: column;
      min-height: 100vh;
  }

/*css for body*/
.container{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 70px;
    border-radius: 10px;
    margin-top: 70px;
    margin-bottom: 20px;
    

    text-align: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.1);
    border: solid black 1px;
    backdrop-filter: blur(10px);
}

.container h1{
    font-weight: 800;
    color: black;
    font-size: 50px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 40px;
}  

.track p{
    font-size: 16px;
    position: relative;
    text-align: left;
}

.text-box{
    background: whitesmoke;
    color: black;
    border: none;
    
    width: 300px;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 15px;
    position: relative;
}

/*
.btn{
    background:black;
    color: white;
    height: 40px;
    width: 120px;
    font-size: 14px;
    border-radius: 10px;
    padding: 7px;
    margin-top: -5px;
  }
  
.btn:hover{
    background: white;
    color: black;
    border: solid black 1px;
}

*/

/*Navbar Section*/

/*for manipulation of the total number of items in the cart dropdown*/
:root{
    --after-content:'3'
    
    }
    
    nav{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-wrap: wrap;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    } 
    
    
    
    nav .logo img{
    width: 100%;
    height: 27px;
    float: left;
    }
    
    nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 30px;
    }  
    
    nav .nav-items li{
    
    list-style: none;
    padding-left: 0px;
    padding: 0 15px;;
    }
    
    nav .nav-items li a{
    color: black;
    font-size: 16px;
    font-weight: 630;
    text-decoration: none;
    }
    
    .red:hover,
    .testimonials:hover{
    color: #F04231;
    }
    
    .orange:hover{
    color: #FF8200;
    }
    
    .yellow:hover{
    color: #FFB80C;
    }
    
    .green:hover{
    color: #78BE20;
    }
    
    .blue:hover{
    color: #198CD9;
    }  
    
    
    nav .menu-icon,
    nav .cancel-icon,
    nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 15px;
    padding-top: 1px;
    color: #fff;
    cursor: pointer;
    display: none;
    }
    
    nav .cancel-icon{
    padding-top: 3px;
    }
    
    
    nav .cart-icon{
      display: inline;
      position: absolute;
      right: 13%;
      top: 32%;
      font-size: 15px;
      cursor: pointer;
      }
    
    nav .menu-icon span,
    nav .cancel-icon,
    nav .search-icon{
    display: none;
    cursor: pointer;
    }
    
    nav .cancel-search-icon{
    display: none;
    }
    
    nav .user-icon:hover{
    color: #f04231;
    }
    nav .cart-icon:hover{
    color: black;
    }
    
    
    
    /*cart-dropdown*/
    .shopping-cart{
    position: absolute;
    width: 26%;
    background-color: white;
    border: 1px solid #efefefef;
    right: 14.3%;
    top: 80%;
    }
    
    .cart-header{
    padding: 4px 7px;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 600;
    }
    
    .cart-wrapper{
    overflow-y: auto;
    max-height: 250px;
    }
    
    .subtotal{
    text-align: right;
    padding-top: 12px;
    padding-right: 19px;
    font-weight: 600;
    }
    
    a .view-cart{
    width: 90%;
    text-align: center;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin: 7px auto 15px;
    padding:7px;
    border: none;
    border-radius: 7px;
    }
    
    a .view-cart:hover{
      background-color: white;
      color: black;
      outline: solid black 1px;
    }
    
    a:hover{
    text-decoration: none;
    }
    
    
    .cart-icon{
    text-align: right;
    margin-top: 1.85px;
    }
    
    .cart-item{
    display: grid;
    grid-template-columns: 3fr 6fr 1fr;
    padding: 3% 2%;
    border-top: solid 1px #efefefef;
    }
    
    .cart-item .product-info{
    line-height: 10px;
    }
    
    .cart-item img{
    width: 85%;
    }
    
    .cart-item .product-info .variation{
    font-size: 13px;
    margin-bottom: 10px;
    }
    
    .cart-item h6{
    text-align: left;
    margin-top: 8px;
    font-weight: 600;
    }
    
    .other-info{
    display: flex;
    justify-content: space-between;
    }
    
    .quantity, .price{
    font-size: 13px;
    }
    
    .price{
    color: red;
    font-weight: bold;
    }
    
    
    .cancel-btn{
    color: gray;
    margin-right: 10px;
    font-size: 11px;
    }
    
    .cancel{
    text-align: right;
    }
    
    .hide{
    display: none;
    }
    
    #cart-total-items{
      font-size: 10px;
      font-weight: 600;
      color: white;
      width: 17px;
      height: 17px;
      padding-top: 1px;
      display: inline-block;
      text-align: center;
      position: relative;
      background-color: #f04231;
      border-radius: 50%;
      top: -10px;
      right: 29%;
    }
    
    
    .login-btn .btn{
      background:black;
      font-size: 11px !important;
      color: white;
      width: 100px;
      font-weight: bold;
      border:none;
      border-radius: 7px !important;
      padding: 7px;
    }
    
    .login-btn{
      position: absolute;
      display: inline;
      right: 2%;
      bottom: 21.5%;
    }
    
    .login-btn .btn:hover{
      background: transparent;
      color: black;
      outline: solid black 1px;
    }
    
    .login-btn .btn:focus{
      box-shadow: none !important;
    }
    
    @media (max-width: 1600px){
      nav .cart-icon{
        
        right: 12%;
        margin-right: 10px;
      }
     
      .login-btn{
        position: absolute;
        margin-right: 7px;
        bottom: 20%;
      }
    }
    
    @media (max-width: 1245px) {
    nav{
      padding: 0 50px;
    }
    
    .shopping-cart{
      right: 14.3%;
    }
    
    
    
    }
    
    @media (max-width: 1140px) {
      nav{
        padding: 0px;
        margin: 0px
      }
    
      nav .logo img{
        padding-left: 20px;
        
      }
    
      nav .nav-items.active{
        right: 0px;
      }
      nav .nav-items li{
        line-height: 40px;
        margin: 30px 0;
      }
    
      nav .nav-items{
        position: fixed;
        padding: 10px 50px 0 50px;
        text-align: center;
        z-index: 99;
        top: 48px;
        width: 100%;
        right: -100%;
        height: 100%;
        background: white;
        display: inline-block;
        transition: right 0.3s ease;
      }
    
      nav .nav-items li a{
        font-size: 16px;
      }
    
      nav .cart-icon{
        top: 33%;
        right: 20%;
        margin-right: 10px;
      }
     
      .login-btn{
        position: absolute;
        right: 8%;
        bottom: 20%;
      }
    
    
      nav .menu-icon{
        position: absolute;
        display: inline-block;
        right: 0%;
        padding-left: 35px;
    
        
      }
    
      nav .menu-icon span{
        display: inline-block;
        color: black;
        font-size: 16px;
      }
      nav .menu-icon span.hide,
      nav .search-icon.hide{
        display: none;
      }
      nav .cancel-icon.show{
        position: absolute;
        display: block;
        color:black;
        right: 0%;
        padding-left: 35px;
        
      }
      .shopping-cart{
        position: absolute;
        width: 290px;
        top: 85%;
        right: 22.7%;
      }
      
    
    }   
    
      @media (max-width: 767px){
        .login-btn{
          right: 11.8%
        }
    
        nav .cart-icon{
          right: 28%;
        }
       
    
        .shopping-cart{
          right: 31.4%;
        }
    
      
      }

  
/*Footer section*/  
footer{
  background-color: black;
  color:white;
  position:relative;
  bottom:0;
  width: 100%;
  margin-top: 49px;
  height: min-content;

}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}