body{
  min-height: 100%;
  font-family: font-face="Polaroid";
  min-width: 100vh;
  background-color: #f2f2f2;
}

.container{
  min-height:75vh;
  justify-content: center;
  align-items: center;
}

.products{
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}

/*Search bar */
 form{
  display: flex;
  height: 34px;
  padding: 2px;
  background: white;
  min-width: 18%!important; 
  border-radius: 20px;
  margin-bottom: 24px;
}
 form .search-data{
  width: 100%;
  height: 100%;
  padding: 0px 10px;
  color: black;
  font-size: 13px;
  border: none;
  font-weight: 500;
  background: none;
}

 form button{
  padding: 0 17px;
  color: #fff;
  font-size: 12px;
  background: black;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  transition: .2s all;
}

input[type=search]{
  border: none;
  outline: none;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}
/*End of search bar*/


.container h1{
  position: relative;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  color:black;
}

.card{
  position: relative;
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 15px;
  margin-bottom: 20px;

  padding: 20px;
  transform: 0.5s ease-in-out;
  cursor: pointer;
}

.card:hover{
  outline: solid black .5px;
}

.card p{
  color:black;  
  font-weight: 600;
}
.card h6{
  color:#F04231;  
}

.prod-img{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height:250px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 15px;
}


/*pagination*/
.pagination{
  margin-top: 40px;
  margin-bottom: 0px;
  justify-content: center;
}
.pagination ul{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 5px;
  border-radius: 50px;
  text-align: center;
}
.pagination ul li{
  color: #777;
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}
.pagination li.active,
.pagination ul li.numb:hover,
.pagination ul li:first-child:hover,
.pagination ul li:last-child:hover{
  color: #fff;
  background: black;
}



/*Navbar Section*/

/*for manipulation of the total number of items in the cart dropdown*/
:root{
  --after-content:'3'

}

nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-wrap: wrap;
  align-items: center;
  height: 55px;
  padding: 0 30px;
} 


  
nav .logo img{
  width: 100%;
  height: 27px;
}

nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 30px;
  
}  
  
nav .nav-items li{

  list-style: none;
  padding-left: 0px;
  padding: 0 15px;;
}

nav .nav-items li a{
  color: black;
  font-size: 16px;
  font-weight: 630;
  text-decoration: none;
}

.red:hover,
.testimonials:hover{
  color: #F04231;
}

.orange:hover{
  color: #FF8200;
}

.yellow:hover{
  color: #FFB80C;
}

.green:hover{
  color: #78BE20;
}

.blue:hover{
  color: #198CD9;
}  
  

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 15px;
  padding-top: 1px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .cancel-icon{
  padding-top: 3px;
}


nav .cart-icon{
  position: absolute;
  left: 91%;
  top: 31%;
  font-size: 15px;
  cursor: pointer;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
  cursor: pointer;
}

nav .cancel-search-icon{
  display: none;
}

nav .user-icon:hover{
  color: #f04231;
}
nav .cart-icon:hover{
  color: black;
}

/*Username*/
.userbtn{
  background-color: white;
  color: black;
  margin-right: 5px;
  font-size: 16px;
  margin-top: 4px;
  font-weight: 600;
  border: none;
}

.userbtn:focus{
  outline: none;
}

.username{
  display: inline-block;
  padding-top: 0.3px;
}

.username-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #efefefef;
  min-width: 150px;
  right: 0px;
  margin-top: 3px;
  z-index: 1;
}



.username-content i{
  padding-right: 7px;
  color: gray;
}

.username-content a {
  color: black;
  font-weight: 500;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.username-content .user{
  border-bottom: 2px solid #efefefef;
  pointer-events: none;
}

.username-content a:hover {
  background-color: #efefefef;
}


.username:hover .username-content {
  display: block;
}



.username:hover .userbtn {
  background-color: white;
  color: #f04231;
}

  
.userbtn .fa-user-alt{
  font-size: 16px;
  
}




/*cart-dropdown*/
.shopping-cart{
  position: absolute;
  width: 26%;
  background-color: white;
  border: 1px solid #efefefef;
  right: 7.7%;
  top: 80%;
}

.cart-header{
  padding: 4px 7px;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}

.cart-wrapper{
  overflow-y: auto;
  max-height: 250px;
}

.subtotal{
  text-align: right;
  padding-top: 12px;
  padding-right: 19px;
  font-weight: 600;
}

 a .view-cart{
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: 7px auto 15px;
  padding:7px;
  border: none;
  border-radius: 7px;
}

a .view-cart:hover{
  background-color: white;
  color: black;
  outline: solid black 1px;
}

a:hover{
  text-decoration: none;
}


.cart-icon{
  text-align: right;
  margin-top: 1.85px;
}

.cart-item{
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 3% 2%;
  border-top: solid 1px #efefefef;
}

.cart-item .product-info{
  line-height: 10px;
}

.cart-item img{
  width: 85%;
}

.cart-item .product-info .variation{
  font-size: 13px;
  margin-bottom: 10px;
}

.cart-item h6{
  text-align: left;
  margin-top: 8px;
  font-weight: 600;
}

.other-info{
  display: flex;
  justify-content: space-between;
}

.quantity, .price{
  font-size: 13px;
}

.price{
  color: red;
  font-weight: bold;
}


.cancel-btn{
 color: gray;
 margin-right: 10px;
 font-size: 11px;
}

.cancel{
  text-align: right;
}

.hide{
  display: none;
}

#cart-total-items{
  font-size: 10px;
  font-weight: 600;
  color: white;
  width: 17px;
  height: 17px;
  padding-top: 1px;
  display: inline-block;
  text-align: center;
  position: relative;
  background-color: #f04231;
  border-radius: 50%;
  top: -10px;
  right: 29%;
}



@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }

  .shopping-cart{
    right: 10.3%;
  }

  nav .cart-icon{
    left: 88%;
  }


}

  @media (max-width: 1140px) {
    nav{
      padding: 0px;
      margin: 0px;
    }

    nav .logo img{
      padding-left: 40px;
      width: 100%;
    }

    nav .nav-items.active{
      right: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }

    nav .nav-items{
      position: fixed;
      padding: 10px 50px 0 50px;
      text-align: center;
      z-index: 99;
      top: 48px;
      width: 100%;
      right: -100%;
      height: 100%;
      background: white;
      display: inline-block;
      transition: right 0.3s ease;
    }
  
    nav .nav-items li a{
      font-size: 16px;
    }

    nav .cart-icon{
      top: 28%;
      left: 83%;
    }
   

    .username{
      display: block;
      position: absolute;
      top: 24%;
      left: 88.5%;
    }

    .username-content{
      margin-top: 5px;
    }
  

    nav .menu-icon{
      position: absolute;
      display: block;
      margin-top: 5px;
      left: 87%;
    }
  
    nav .menu-icon span{
      display: block;
      color: black;
      font-size: 16px;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      position: absolute;
      display: block;
      margin-top: 10px;
      color:black;
      left: 87%;
      
    }
    .shopping-cart{
      position: absolute;
      width: 290px;
      top: 85%;
      right: 15%;
    }
    
  
  }   

    @media (max-width: 767px){
     
  
      .shopping-cart{
        right: 15%;
      }
    }

  
  /*Footer section*/  
  footer{
    background-color: black;
    color:white;
    position: relative;
    margin-top: 8vh;
    width: 100%;
    height: max-content;
  }
  
  .footer-about{
    font-size: 14px;
    margin-top: 20px;
  }
  
  .footer-about a:hover{
    color: #f04231;
  }
  
  .footer-about img{
    max-width: 100%;
    height:40px;
    margin-left: 10px;
  }
  
  
  .footer-about h3{
    font-family: font-face="FF Real Head";
    font-weight: 700;
    font-size: 20px;
    margin-left: 15px;
  }
  
  .footer-about p{
    font-family: font-face="FF Real Head";
    font-size: 12px;
    margin-left: 15px;
  }
  
  .footer-widget{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .footer-widget H6{
    font-size: 16px;
    font-weight: 700;
  }
  
  .social-icon ul{
    padding-left: 0;
  }
  
  .footer-widget li{
    line-height: 25px;
    list-style: none;
    font-family: font-face="FF Real Head";
  }
  
  .footer-widget ul li a{
    line-height: 20px;
    list-style: none;
    margin-left: -40px;
    }
  
  .footer-widget ul li:hover{
    color: #F04231;
  }
  
  .social-icon li a{
    color: white;
    font-family: font-face="FF Real Head";
  }
  
  .social-icon li{
    color: white;
    font-family: font-face="FF Real Head";
  }
  
  .social-icon li a:hover{
    color: #F04231;
  }
  
  .dti-logo img{
    max-width: 100%;
    height:40px;
  }
  
  .footer-copyright-text{
    font-family: font-face="FF Real Head";
    font-size: 12px;
  }