

body{
    height: 100%;
    background: white;
    font-family: font-face="FF Real Head";
}

.reset-form{ 
  width:340px;
  height: 20rem;
  margin-top: 100px;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 100px;
  
  -webkit-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);
}

.form-group{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 15px;
    
}

.card-title{ 
  margin-top: 23px;
  font-size: 22px;
  font-weight:700;
 
}

p{
  font-size: 16px;

}


.btn{
	font-size: 14px;
	margin-top:20px;
}

input[type="email"],
input[type="password"]

{
    background-color: white;
    border-color: black;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: black;
    box-shadow: none;
    outline: 0 none;
}


