@font-face {
    font-family: Polaroid;
    src: url(font/FF\ Real\ Head\ Pro/);
  }


body{
    height: 100%;
    font-family: font-face="Polaroid";
    overflow-x: hidden;
    min-width: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}

@media(max-width:1245px){
  .bg-img{
    min-height: 60vh;
  }
}

.bg-img{
    background-image: url(img/testimonial-bg.png);
    background-size: cover;
    min-height:75vh;
    position:relative;
    background-repeat: no-repeat;
    color:white;
    text-shadow: 5px 5px 5px rgba(0,0,0,.2)
}


.heading{
  margin-top: 30px;
}

h1{
  font-size: 70px;
  font-weight: 900;
  text-align: left;
  margin-top: 30px;
}

.testimonials{
  display: flex;
  margin-top: 150px;
  margin-bottom: 20px;
  justify-content: center;
  width: 1500px;
}

.card{
  height: 220px;
  max-width: 450px;
  position: relative;
  border-radius: 25px;
  margin-bottom: 5px;
  
  font-size: 14px;
  color: white;
  padding: 20px;
  text-shadow: 5px 5px 5px rgba(0,0,0,.2);
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  justify-content: center;
  text-align: justify;
}

.col-md-3{
  margin-right: 30px;
}









nav{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-wrap: wrap;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    
}
  
  nav .logo img{
    width: 100%;
    height: 27px;
    
    
  }
  
  nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 30px;
    
  }
  
  nav .nav-items li{
    list-style: none;
    padding-left: 0px;
    padding: 0 15px;;
  }
  
  nav .nav-items li a{
    color: black;
    font-size: 16px;
    font-weight: 630;
    text-decoration: none;
  }
  
  .red:hover,
  .testimonials:hover{
    color: #F04231;
  }
  
  .orange:hover{
    color: #FF8200;
  }
  
  .yellow:hover{
    color: #FFB80C;
  }
  
  .green:hover{
    color: #78BE20;
  }
  
  .blue:hover{
    color: #198CD9;
  }
  
  
  
  nav form{
    display: flex;
    height: 28px;
    padding: 2px;
    background: white;
    min-width: 18%!important; 
    border-radius: 20px;
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: black;
    font-size: 13px;
    border: none;
    font-weight: 500;
    background: none;
  }
  
  nav form button{
    padding: 0 11px;
    color: #fff;
    font-size: 12px;
    background: black;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    transition: .2s all;
  }
  
  nav form button:hover{
    background: #FF8200;
  }
  
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  nav .user-icon,
  nav .cart-icon{
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
  }
  
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
    cursor: pointer;
  }
  
  nav .cancel-search-icon{
    display: none;
  }
  
  nav .user-icon:hover{
    color: #f04231;
  }
  nav .cart-icon:hover{
    color: #f04231;
  }
  
  @media (max-width: 1245px) {
    nav{
      padding: 0 50px;
    }
  }
  
  @media (max-width: 1140px) {
    nav{
      padding: 0px;
      margin: 0px;
    }
  
    nav .logo img{
      padding-left: 40px;
      width: 100%;
    }
  
    nav form{
      position: absolute;
      right: 140px;
    }
    nav .nav-items.active{
      right: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }
  
    nav .nav-items{
      position: fixed;
      padding: 10px 50px 0 50px;
      text-align: center;
      z-index: 99;
      top: 48px;
      width: 100%;
      right: -100%;
      height: 100%;
      background: whitesmoke;
      display: inline-block;
      transition: right 0.3s ease;
    }
   
    nav .nav-items li a{
      font-size: 15px;
    }
    
    nav .menu-icon{
      display: block;
      position: absolute;
      right: 0px;
      font-size: 17px;
      padding-left: 40px;
    }
  
  
    nav .user-icon{
      position: absolute;
      right: 107px;
    }
  
  
    nav .cart-icon{
      position: absolute;
      right: 72px;
    }
  
   
    nav .menu-icon span{
      display: block;
      color: black;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
      color:black;
      padding-left: 40px;
    }
   
  }
  
    @media (max-width: 767px){
      nav form{
        position: absolute;
        top: 82px;
        pointer-events: none;
        right: 120px;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.1s ease;
      }
      nav form.active{
        top: 80px;
        opacity: 1;
        pointer-events: auto;
      }
      nav form:before{
        position: absolute;
        content: "";
        top: -14px;
        width: 0%;
        height: 0;
        z-index: -1;
        right: 39px;
        border: 10px solid transparent;
        border-bottom-color: whitesmoke;
        margin: -20px 0 0;
      }
      nav form:after{
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: whitesmoke;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
  
      nav .search-icon{
        position: absolute;
        right: 100px;
      }
  
      nav .user-icon{
        right: 120px;
      }
  
      nav .cart-icon{
        right: 77px;
      }
      nav .search-icon{
        display: block;
        color: black;
        font-size: 17px;
      }
  
      nav .search-icon:hover{
        background: #f04231;
      }
      nav .cancel-search-icon.show{
           display: block;
           position: absolute;
           right: 162px;
      }
  
    }
  
/*Footer section*/  
footer{
  background-color: black;
  color:white;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: min-content;

}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  margin-left: -40px;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}