@font-face {
    font-family: Polaroid;
    src: url(font/FF\ Real\ Head\ Pro/);
  }

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
  
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      outline: none;
      
  }

body{
  height: 100%;
  background: white;
  font-family: font-face="Polaroid";
  overflow-x: hidden;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}
   
.home{
    color: #f04231;
}  
  

@media(max-width:1245px){
  .bg-img{
    min-height: 60vh;
  }
}

/*content*/ 
.bg-img{
    height: fit-content;
    background-image: url(img/bg-home-final.png);
    background-attachment: fixed;
    background-size: cover;
}

.box{
  width: 100px;
  height: 600px;
}

.title{
  color: white;
  font-weight: 900;
  text-align: center;
  position: relative;
  border-color: solid black;

}


 h5{
  font-size: 40px;
  margin-top: -40px;
  text-shadow: black;
  text-shadow: 1px 2px rgba(0,0,0,0.5);
}

.btn-main{
  background-color: white;
  font-family: font-face="Polaroid";
  color: black;
  padding: 8px;
  font-size: 20px;
  font-weight: 530;
  border-radius:7px; 
  border-color: solid black 0.5px; 
  text-align: center;
  justify-content: center;
  display: flex;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.btn-main:hover{
  background-color: black;
  color: white;
}

.section-1{
  background-color: white;
  height: 550px;
  width: 100%;
  margin-top: 25vh;
  padding: 30px;
}

.section-1 h2{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 100px;
  font-size: 50px;
}

.overlay{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  border-radius: 30px;
  backdrop-filter: blur(1.5px);
  color: black;
  opacity: 0;
  transition: opacity 0.25s; 

  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.overlay h3{
  text-align: center;
  font-weight: 700;
}

.overlay .sm-btn{
  background:black;
  color: white;
  width: 100px;
  height: 50px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  font-weight: 400;  
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.overlay .sm-btn:hover{
  background:transparent;
  color: black;
  border: solid black 1px;
}

.overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover{
  opacity: 1;
}

.overlay:hover > *{
  transform: translateY(0);
}

.cameras{
  background-image: url(img/cameras.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 200px;
  margin-left: 200px;
  margin-right: 10px;
  border-radius: 35px;

  display: block;
  text-align: center;
  overflow: hidden;
}


.films{
  background-image: url(img/instant-films.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 200px;
  margin-left: 60px;
  border-radius: 35px;
  position: relative;
}

.accessories{
  background-image: url(img/accessories.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 200px;
  margin-left: 55px;
  border-radius: 35px;
  position: relative;
  padding: 20px;
}

.films{
  background-image: url(img/films.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin-left: 40px;
  border-radius: 35px;
  position: relative;
}

.none{
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin-left: 40px;
  border-radius: 35px;
  position: relative;
}

.section-2{
  background-color: white;
  height: fit-content;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 25px;
}

h2{
  text-align: center;
}

.featured-img{
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y:center;
  height: 200px;
  width: 300px;
  margin-left: 30px;
  margin-top: -90px;
  border-radius: 25px;
  position: relative;
}

h3{
  color:black;  
  font-size: 20px;
  text-align: left;
}



/*featured products css*/
.card{
  position: relative;
  background-color: white;
  height: 300px;
  width: 250px;
  border-radius: 15px;
  border-color: white;

  padding: 20px;
  transform: 0.5s ease-in-out;
  cursor: pointer;
}

.card h2{
  color:black;  
  font-family: Bang;
}
.card h3{
  color:black;  
  font-size: 20px;
  text-align: center;
}

.featured-btn{
  background:black;
  color: white;
  width: 100px;
  border:none;
  border-radius: 7px;
  padding: 7px;
  margin-top: 15px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

.featured-btn:hover{
  background-color:white;
  color:black;
  outline: solid black 1px;
}

.prod-img{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height:100%;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

.btn{
  background:black;
  color: white;
  width: 100px;
  border:none;
  border-radius: 7px;
  padding: 7px;
  margin-top: 15px;
  font-size: 14px;
}


.btn:hover{
  background: transparent;
  color: black;
  width: 100px;
  border:solid black 1px;
  border-radius: 7px;
}


/*Navbar Section*/

/*for manipulation of the total number of items in the cart dropdown*/
:root{
  --after-content:'3'
}

nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-wrap: wrap;
  align-items: center;
  height: 55px;
  padding: 0 30px;
} 


  
nav .logo img{
  width: 100%;
  height: 27px;
}

nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 30px;
  
}  
  
nav .nav-items li{
  list-style: none;
  padding-left: 0px;
  padding: 0 15px;;
}

nav .nav-items li a{
  color: black;
  font-size: 16px;
  font-weight: 630;
  text-decoration: none;
}

.red:hover,
.testimonials:hover{
  color: #F04231;
}

.orange:hover{
  color: #FF8200;
}

.yellow:hover{
  color: #FFB80C;
}

.green:hover{
  color: #78BE20;
}

.blue:hover{
  color: #198CD9;
}  
  

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 15px;
  padding-top: 1px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .cancel-icon{
  padding-top: 3px;
}

nav .cart{
  width: 26% !important;
  position: absolute;
  left: 62%;
  top: 24%;
  font-size: 15px;
  cursor: pointer;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
  cursor: pointer;
}

nav .cancel-search-icon{
  display: none;
}

nav .user-icon:hover{
  color: #f04231;
}
nav .cart-icon:hover{
  color: black;
}

/*Username*/
.userbtn {
  background-color: white;
  color: black;
  padding-right: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.userbtn:focus{
  outline: none;
}

.username {
  position: relative;
  display: inline-block;
  padding-top: 0.3px;

}

.username-content {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #efefefef;
  min-width: 140px;
  z-index: 1;
}

.username-content i{
  padding-right: 7px;
  color: gray;
}

.username-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.username-content a:hover {
  background-color: #efefefef;
}

.username:hover .username-content {
  display: block;
}

.username:hover .userbtn {
  background-color: white;
  color: #f04231;
}

/*cart-dropdown*/
.shopping-cart{
  background-color: white;
  border: 1px solid #efefefef;
  margin-right: 18px;
  margin-top: 7px;
}

h5{
  padding: 8px 7px;
  margin-bottom: 0;
}

.cart-wrapper{
  overflow-y: auto;
  max-height: 250px;
}

.subtotal{
  text-align: right;
  padding-top: 12px;
  padding-right: 19px;
  font-weight: 600;
}

 a .view-cart{
  width: 90%;
  text-align: center;
  cursor: pointer;
  background-color: #f04231;
  color: white;
  font-weight: 400;
  font-size: 15px;
  margin: 7px auto 15px;
  padding:5px 10px;
}

a:hover{
  text-decoration: none;
}


.cart-icon{
  text-align: right;
  margin-top: 1.85px;
}

.cart-item{
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  padding: 3% 2%;
  border-top: solid 1px #efefefef;
}

.cart-item .product-info{
  line-height: 10px;
}

.cart-item img{
  width: 85%;
}

.cart-item .product-info .variation{
  font-size: 13px;
  margin-bottom: 10px;
}

.cart-item h6{
  text-align: left;
  margin-top: 8px;
  font-weight: 600;
}

.other-info{
  display: flex;
  justify-content: space-between;
}

.quantity, .price{
  font-size: 13px;
}

.price{
  color: red;
  font-weight: bold;
}


.cancel-btn{
 color: gray;
 margin-right: 10px;
 font-size: 11px;
}

.cancel{
  text-align: right;
}

.hide{
  display: none;
}

.cart-total-items::after{
  content: var(--after-content);
  font-size: 17px;
  width: 20px;
  display: inline-block;
  text-align: center;
  position: relative;
  background-color: #f04231;
  border-radius: 50%;
  top: -10px;
  right: 20%;
}


@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }

  nav .username{
    position: absolute;
    right: 30px;
  }

}

  @media (max-width: 1140px) {
    nav{
      padding: 0px;
      margin: 0px;
    }

    nav .logo img{
      padding-left: 40px;
      width: 100%;
    }

    nav .nav-items.active{
      right: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }

    nav .nav-items{
      position: fixed;
      padding: 10px 50px 0 50px;
      text-align: center;
      z-index: 99;
      top: 48px;
      width: 100%;
      right: -100%;
      height: 100%;
      background: white;
      display: inline-block;
      transition: right 0.3s ease;
    }
  
    nav .nav-items li a{
      font-size: 15px;
    }

    nav .username{
      position: absolute;
      right: 67px;
      text-decoration: none;
    }

    nav .cart-icon{
      position: absolute;
      right: 58px;
      left: 0px;
    }
    
    nav .menu-icon{
      display: block;
      position: absolute;
      right: 0px;
      font-size: 17px;
      padding-left: 40px;
    }
  
    nav .menu-icon span{
      display: block;
      color: black;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
      color:black;
      padding-left: 40px;
    }
    .shopping-cart{
      position: absolute;
      width: 290px;
      top: 20px;
      right: 52px;
    }
    
  
  }   

    @media (max-width: 767px){
    
      nav .username{
        position: absolute;
        right: 63px;
      }
  
      nav .cart{
        width: 23%;
      }

      nav .cart-icon{
        position: absolute;
        right: 68px;
      }
    }

  /*
  @media (max-width: 500px){
    nav .cart-icon{
      position: absolute;
      right: 150px;
    }
  }*/

/*Footer section*/  
footer{
  background-color: black;
  color:white;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: min-content;

}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}