
.btn-increment-decrement {
    display: inline-block;
    padding: 5px 0px;
    background: #e2e2e2;
    width: 30px;
    text-align: center;
    cursor:pointer;
}

/*Cart Mobile View */
body{
  height: 100%;
  font-family: font-face="Polaroid";
  background-color: #f2f2f2 !important;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  background-color: none;
}
.cart{
    margin-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.my-cart{
    margin-top: 1rem;
    padding: 300px;
    height: 300px;
}

.cart-item form{
    display: grid;
    grid-template-columns:100%;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 7px;
    
}

.cart-product{
    display: grid;
    grid-template-columns: 80px auto;
    padding: 1rem 0rem;
    border-bottom: 1px solid #efefef;
}

.stocks{
  font-size: 12px;
}
.product-name{
    font-weight: bold;
    margin-top: 1rem;
}
.product-info{
    line-height: 8px;
    
}
.product-variation{
    font-size: 15px;
}

.price-sm{
    font-size: 13px;
    color: red;
    
}

.product-image{
    height: 80px;
    border-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat;
}

.quantity-controls-md,
.unit-price,
.product-total{
    display: none;
    
}

.cart-controls-sm{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.cart-header{
  display: flex;
  justify-content: space-between;
}

.product-price p{
  margin-top: 8.3px;
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
}


.remove,
.remove-md{
    font-weight: bold;
    font-size: 15px;
    margin-left: 1rem;
    text-transform: uppercase;
    color: gray;
}



.cart-quantity-controls-sm,
.quantity-edit-controls{
    display: flex; 
    margin-right: 0.5rem;
}

.cart-quantity-controls-sm button,
.quantity-edit-controls button{
    height: 25px;
    width: 30px;
    font-weight: bold;
    text-align:center;
    line-height: 10px;
    background-color: white;
    border: 1px solid #efefef;
    
}
.cart-quantity-controls-sm input,
.quantity-edit-controls input{
    height: 25px;
    width: 35px;
    text-align: center;
    border-radius: none;
    background-color: white;
    border: 1px solid #efefef;
}

.product-subtotal{
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
}

.cart-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  margin-right: 45%;
}

.cart-btn .btn{
  border:none;
  border-radius: 7px !important;
  margin-bottom: 10px;
  padding: 7px;
}


.cart-label{
  display: none;
}

.remove-md{
  display: none;
}

/*Cart min-width 768px view */
@media only screen and (min-width: 768px){

  .quantity-controls-md,
  .unit-price,
  .product-total,
  .remove-md{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 18%; 
  }

  .remove-md{
    margin-bottom: 10px;
    font-size: 14px;
  }
  .remove{
    display: none;
  }

  .quantity-md{
    margin-bottom: 6px;
  }


  .cart-label{
    display: flex;

  }

  .cart-label p{
    font-weight: bold;
    width: 19%;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
  }

  .cart-label p:first-child{
    display: flex;
    flex: 1;
    justify-content: left;
    margin-left: 35px;
  }
 
  .cart-item form{
    display: flex;  
    border-top: 1px solid #efefef;
    border-radius: 0;
  }

  .my-cart{
    background-color: white;
  }

  .cart-quantity-controls-sm{
    display: none;
  }

  .cart-product {
    border: none;
    flex: 1;
  }

  .price-sm{
    display: none;
  }
  
  .product-subtotal{
    justify-content: flex-end;
  }
  .product-subtotal .sub-price{
    margin-left: 10px;
  }

  .cart-btn{
    justify-content: flex-end;
    flex-direction: row;
  }
  .cart-btn .btn{
    width: 200px;
    margin-left: 10px;
  }
 
}

/*Breadcrumb Navigation*/

.breadcrumbs{
  padding: 10px;
  margin-left: 10px;
}

.breadcrumbs_item{
  display: inline-block;
  margin-top: 10vh;
}

.breadcrumbs_item a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 500;
}

.breadcrumbs_item a:hover{
  color: gray;
}

.breadcrumbs_item .active{
  color: #78BE20;
}

.breadcrumbs_item:not(:last-of-type)::after{
  content:'\203a';
  font-size: larger;
  margin: 0 5px;
  color: black;
}


/*Navbar section*/
nav{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    flex-wrap: wrap;
    align-items: center;
    height: 55px;
    padding: 0 30px;
    
  }
  
  nav .logo img{
    width: 100%;
    height: 27px;
    
    
  }
  
  nav .nav-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 30px;
    
  }
  
  nav .nav-items li{
    list-style: none;
    padding-left: 0px;
    padding: 0 15px;;
  }
  
  nav .nav-items li a{
    color: black;
    font-size: 16px;
    font-weight: 630;
    text-decoration: none;
  }
  
  .red:hover,
  .testimonials:hover{
    color: #F04231;
  }
  
  .orange:hover{
    color: #FF8200;
  }
  
  .yellow:hover{
    color: #FFB80C;
  }
  
  .green:hover{
    color: #78BE20;
  }
  
  .blue:hover{
    color: #198CD9;
  }
  
  nav form{
    display: flex;
    height: 28px;
    padding: 2px;
    background: white;
    min-width: 18%!important; 
    border-radius: 20px;
  }
  nav form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: black;
    font-size: 13px;
    border: none;
    font-weight: 500;
    background: none;
  }
  
  nav form button{
    padding: 0 11px;
    color: #fff;
    font-size: 12px;
    background: black;
    border: none;
    border-radius: 36px;
    cursor: pointer;
    transition: .2s all;
  }
  
  nav form button:hover{
    background: #FF8200;
  }
  
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  
  nav .user-icon,
  nav .cart-icon{
    padding-left: 20px;
    font-size: 15px;
    cursor: pointer;
  }
  
  nav .menu-icon span,
  nav .cancel-icon,
  nav .search-icon{
    display: none;
    cursor: pointer;
  }
  
  nav .cancel-search-icon{
    display: none;
  }
  
  nav .user-icon:hover{
    color: #f04231;
  }
  nav .cart-icon:hover{
    color: #f04231;
  }
  
  @media (max-width: 1245px) {
    nav{
      padding: 0 50px;
    }
  }
  
  @media (max-width: 1140px) {
    nav{
      padding: 0px;
      margin: 0px;
    }
  
    nav .logo img{
      padding-left: 40px;
      width: 100%;
    }
  
    nav form{
      position: absolute;
      right: 140px;
    }
    nav .nav-items.active{
      right: 0px;
    }
    nav .nav-items li{
      line-height: 40px;
      margin: 30px 0;
    }
  
    nav .nav-items{
      position: fixed;
      padding: 10px 50px 0 50px;
      text-align: center;
      z-index: 99;
      top: 48px;
      width: 100%;
      right: -100%;
      height: 100%;
      background: whitesmoke;
      display: inline-block;
      transition: right 0.3s ease;
    }
   
    nav .nav-items li a{
      font-size: 15px;
    }
    
    nav .menu-icon{
      display: block;
      position: absolute;
      right: 0px;
      font-size: 17px;
      padding-left: 40px;
    }
  
  
    nav .user-icon{
      position: absolute;
      right: 107px;
    }
  
  
    nav .cart-icon{
      position: absolute;
      right: 72px;
    }
  
   
    nav .menu-icon span{
      display: block;
      color: black;
    }
    nav .menu-icon span.hide,
    nav .search-icon.hide{
      display: none;
    }
    nav .cancel-icon.show{
      display: block;
      color:black;
      padding-left: 40px;
    }
   
  }
  
    @media (max-width: 767px){
      nav form{
        position: absolute;
        top: 82px;
        pointer-events: none;
        right: 120px;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.1s ease;
      }
      nav form.active{
        top: 80px;
        opacity: 1;
        pointer-events: auto;
      }
      nav form:before{
        position: absolute;
        content: "";
        top: -14px;
        width: 0%;
        height: 0;
        z-index: -1;
        right: 39px;
        border: 10px solid transparent;
        border-bottom-color: whitesmoke;
        margin: -20px 0 0;
      }
      nav form:after{
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: whitesmoke;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
  
      nav .search-icon{
        position: absolute;
        right: 100px;
      }
  
      nav .user-icon{
        right: 120px;
      }
  
      nav .cart-icon{
        right: 77px;
      }
      nav .search-icon{
        display: block;
        color: black;
        font-size: 17px;
      }
  
      nav .search-icon:hover{
        background: #f04231;
      }
      nav .cancel-search-icon.show{
           display: block;
           position: absolute;
           right: 162px;
      }
  
    }

    /*Footer section*/  
footer{
  background-color: black;
  color:white;
  width: 100%;
  position: relative;
  bottom: 0px;
  height: min-content;
  margin-top: 30px;
}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  margin-left: -30px;
  text-decoration: none;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}    