@font-face {
    font-family: Polaroid;
    src: url(font/FF\ Real\ Head\ Pro/);
  }
  
  body{
    background-color: black;
    max-height: fit-content;
    font-family: font-face="Polaroid";
    padding-top: 20px;
    overflow-x: hidden;
    flex-direction: column;
  }

@media(max-width:1245px){
    .bg-img{
      min-height: 100%;
    }
}
  
.bg-img{
  background-size: cover;
  min-height:100%;
  min-width: 100%;
  position:relative;
  background-repeat: no-repeat;
}
  
.container{
      background: white;
      border: 1px solid black;
      width: 70%;
      height: 100%;
      padding: 70px;
      border-radius: 15px;
      margin-top: 90px;
      margin-bottom: 50px;
      display: flex;
}
  
.icon{
    position: absolute;
    margin-left: 15px;
    margin-top: 5px;
}
  
.btn{
    background:black;
    color: white;
    width: 230px;
    border:none;
    border-radius: 7px;
    padding: 7px;
    margin-top: 15px;
    font-size: 14px;
  }
  
.btn:hover{
  
    background: linear-gradient(black,rgb(59, 59, 59));
}

.left{
    margin-right: 40px;
}

.accordion{
    width: 100%;
    padding: 7px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    display: flex;
    margin: 10 0px;
    margin-top: 10px;
    align-items: center;

}
.accordion .img-box{
    height: 300px;
    width: 300px;
}

.accordion .img-box img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}
.accordion h5{
    font-size: 16px;
    margin-left: 5px;
    padding: 3px 0 0 0;
    font-weight: normal;
}

.right h2{
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 800;
}

.panel{
    padding: 0 15px;
    border-left: 1px solid black;
    margin-left: 25px;
    font-size: 14px;
    text-align: justify;
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease-in;
}


.active{
    background-color: black;
    color:white;
}

.accordion:hover{
    background-color: black;
    color:white;
}

/*Footer section*/  
footer{
  background-color: black;
  color:white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: min-content;
  padding: 20px;

}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  text-decoration: none;
  margin-left: -40px;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}