@font-face {
    font-family: Polaroid;
    src: url(font/FF\ Real\ Head\ Pro/);
  }
  
  *{
      margin:0;
      padding:0;
      box-sizing: border-box;
      outline: none;
        
  }

body{
  height: 100%;
  background: white;
  font-family: font-face="Polaroid";
  overflow-x: hidden;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}
   
.home{
    color: #f04231;
}  
  

@media(max-width:1245px){
  .bg-img{
    min-height: 60vh;
  }
}

.bg-img{
    height: 220vh;
    background-image: url(../img/home-bg.png);
    background-attachment: fixed;
    background-size: cover;
}

.box{
  width: 100px;
  height: 600px;
}


.section-1{
  background-color: white;
  height: 550px;
  width: 100%;
  margin-top: 60vh;
  padding: 30px;
}

.section-1 h2{
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 100px;
  font-size: 50px;
}

.overlay{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  backdrop-filter: blur(3px);
  color: black;
  opacity: 0;
  transition: opacity 0.25s; 

  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.overlay h3{
  text-align: center;
  font-weight: 700;
}

.overlay .sm-btn{
  background:black;
  color: white;
  width: 100px;
  height: 50px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 85px;

  font-size: 14px;
  font-weight: 400;  
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.overlay .sm-btn:hover{
  background:transparent;
  color: black;
  border: solid black 1px;
}

.overlay > *{
  transform: translateY(20px);
  transition: transform 0.25s;
}

.overlay:hover{
  opacity: 1;
}

.overlay:hover > *{
  transform: translateY(0);
}

.cameras{
  background-image: url(../img/cameras.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin-left: 100px;
  border-radius: 35px;

  display: block;
  text-align: center;
  overflow: hidden;
}


.instant-films{
  background-image: url(../img/instant-films.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin-left: 40px;
  border-radius: 35px;
  position: relative;
}

.printers{
  background-image: url(../img/printers.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin-left: 40px;
  border-radius: 35px;
  position: relative;
}

.films{
  background-image: url(../img/films.png);
  background-size:cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
  margin-left: 40px;
  border-radius: 35px;
  position: relative;
}


.section-2{
  background-color: white;
  height: 270px;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 25px;
}

.featured-img{
  background-color: black;
  height: 200px;
  width: 300px;
  margin-left: 30px;
  margin-top: 0px;
  border-radius: 25px;
  position: relative;
}

.btn{
  background:black;
  color: white;
  width: 100px;
  border:none;
  border-radius: 7px;
  padding: 7px;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 800px;
}


.btn:hover{
  background: transparent;
  color: black;
  width: 100px;
  border:solid black 1px;
  border-radius: 7px;
  padding: 7px;
  margin-top: 15px;
  font-size: 14px;
  margin-left: 800px;
}




nav{
  background-color: whitesmoke;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-wrap: wrap;
  align-items: center;
  height: 55px;
  padding: 0 30px;
  
} 
  
nav .logo img{
  width: 100%;
  height: 27px;
  
  
}

nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 30px;
  
}  
  
nav .nav-items li{
  list-style: none;
  padding-left: 0px;
  padding: 0 15px;;
}

nav .nav-items li a{
  color: black;
  font-size: 16px;
  font-weight: 630;
  text-decoration: none;
}

.red:hover,
.testimonials:hover{
  color: #F04231;
}

.orange:hover{
  color: #FF8200;
}

.yellow:hover{
  color: #FFB80C;
}

.green:hover{
  color: #78BE20;
}

.blue:hover{
  color: #198CD9;
}  
  
nav form{
  display: flex;
  height: 28px;
  padding: 2px;
  background: white;
  min-width: 18%!important; 
  border-radius: 20px;
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: black;
  font-size: 13px;
  border: none;
  font-weight: 500;
  background: none;
}

nav form button{
  padding: 0 11px;
  color: #fff;
  font-size: 12px;
  background: black;
  border: none;
  border-radius: 36px;
  cursor: pointer;
  transition: .2s all;
}

nav form button:hover{
  background: #FF8200;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}

nav .user-icon,
nav .cart-icon{
  padding-left: 20px;
  font-size: 15px;
  cursor: pointer;
}

nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
  cursor: pointer;
}

nav .cancel-search-icon{
  display: none;
}

nav .user-icon:hover{
  color: #f04231;
}
nav .cart-icon:hover{
  color: #f04231;
}

@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
  }
}

@media (max-width: 1140px) {
  nav{
    padding: 0px;
    margin: 0px;
  }

  nav .logo img{
    padding-left: 40px;
    width: 100%;
  }

  nav form{
    position: absolute;
    right: 140px;
  }
  nav .nav-items.active{
    right: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }

  nav .nav-items{
    position: fixed;
    padding: 10px 50px 0 50px;
    text-align: center;
    z-index: 99;
    top: 48px;
    width: 100%;
    right: -100%;
    height: 100%;
    background: whitesmoke;
    display: inline-block;
    transition: right 0.3s ease;
  }
 
  nav .nav-items li a{
    font-size: 15px;
  }
  
  nav .menu-icon{
    display: block;
    position: absolute;
    right: 0px;
    font-size: 17px;
    padding-left: 40px;
  }


  nav .user-icon{
    position: absolute;
    right: 107px;
  }


  nav .cart-icon{
    position: absolute;
    right: 72px;
  }  
  
   
  nav .menu-icon span{
    display: block;
    color: black;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
    color:black;
    padding-left: 40px;
  }
 
}   
  
    @media (max-width: 767px){
      nav form{
        position: absolute;
        top: 82px;
        pointer-events: none;
        right: 120px;
        opacity: 0;
        transition: top 0.3s ease, opacity 0.1s ease;
      }
      nav form.active{
        top: 80px;
        opacity: 1;
        pointer-events: auto;
      }
      nav form:before{
        position: absolute;
        content: "";
        top: -14px;
        width: 0%;
        height: 0;
        z-index: -1;
        right: 39px;
        border: 10px solid transparent;
        border-bottom-color: whitesmoke;
        margin: -20px 0 0;
      }
      nav form:after{
        position: absolute;
        content: '';
        height: 60px;
        padding: 2px;
        background: whitesmoke;
        border-radius: 2px;
        min-width: calc(100% + 20px);
        z-index: -2;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
  
      nav .search-icon{
        position: absolute;
        right: 100px;
      }
  
      nav .user-icon{
        right: 120px;
      }
  
      nav .cart-icon{
        right: 77px;
      }
      nav .search-icon{
        display: block;
        color: black;
        font-size: 17px;
      }
  
      nav .search-icon:hover{
        background: #f04231;
      }
      nav .cancel-search-icon.show{
           display: block;
           position: absolute;
           right: 162px;
      }
  
    }
/*Footer section*/  
footer{
  background-color: black;
  color:white;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: min-content;

}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}