@font-face {
  font-family: Polaroid;
  src: url(font/FF\ Real\ Head\ Pro/);
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    
}

body{
min-height: 100%;
background: white;
font-family: font-face="Polaroid";
overflow-x: hidden;
min-width: 100%;
display: flex;
flex-direction: column;
}

a:hover{
  text-decoration: none;
  cursor: pointer;
}
 
.home{
  color: #f04231;
}  


@media(max-width:1245px){
.bg-img{
  min-height: 60vh;
}
}

.bg-img{
  height: fit-content;
  background-image: url(../img/bg-home-final.png);
  background-attachment: fixed;
  background-size: cover;
}

.box{
width: 100px;
height: 600px;
}

.title{
color: white;
font-weight: 900;
text-align: center;
position: relative;
border-color: solid black;

}


.title{
font-size: 40px;
margin-top: -30px;
text-shadow: black;
text-shadow: 1px 2px rgba(0,0,0,0.5);
}

.btn-main{
background-color: white;
font-family: font-face="Polaroid";
color: black;
cursor: pointer;
padding: 8px;
font-size: 20px;
font-weight: 530;
border-radius:7px; 
border-color: solid black 0.5px; 
text-align: center;
justify-content: center;
display: flex;
margin-top: 5px;
margin-left: auto;
margin-right: auto;
width: 200px;
}

.btn-main:hover{
background-color: black;
text-decoration: none!important;
color: white;
}

.section-1{
background-color: white;
height: fit-content;
width: 100%;
margin-top: 25vh;
padding: 30px;
}

.section-1 h2{
margin-top: 30px;
margin-bottom: 40px;
margin-left: 100px;
font-size: 50px;
}

.overlay{
position:absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(255,255,255,0.5);
border-radius: 30px;
backdrop-filter: blur(1.5px);
color: black;
opacity: 0;
transition: opacity 0.25s; 

padding: 20px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}

.overlay h3{
text-align: center;
font-weight: 700;
}

.overlay .sm-btn{
background:black;
color: white;
width: 100px;
height: 50px;
padding: 10px;
padding-left: 15px;
border-radius: 10px;
margin-top: 20px;
margin-left: auto;
margin-right: auto;

font-size: 14px;
font-weight: 400;  
text-align: center;
justify-content: center;
display: flex;
flex-direction: column;
}

.overlay .sm-btn:hover{
background:transparent;
color: black;
cursor:pointer;
border: solid black 1px;
}

.overlay > *{
transform: translateY(20px);
transition: transform 0.25s;
}

.overlay:hover{
opacity: 1;
}

.overlay:hover > *{
transform: translateY(0);
}

.categories{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cameras{
background-image: url(../img/cameras.png);
background-size:cover;
background-repeat: no-repeat;
height: 350px;
min-width: 200px;
margin-bottom: 10px;
border-radius: 35px;
text-align: center;
overflow: hidden;
position: relative;
}


.films{
background-image: url(../img/instant-films.png);
background-size:cover;
background-repeat: no-repeat;
height: 350px;
min-width: 300px;
margin-bottom: 10px;
margin-left: 40px;
border-radius: 35px;
position: relative;
}

.accessories{
background-image: url(../img/accessories.png);
background-size:cover;
background-repeat: no-repeat;
height: 350px;
min-width: 200px;
margin-bottom: 10px;
margin-left: 40px;
border-radius: 35px;
position: relative;
}

.films{
background-image: url(../img/films.png);
background-size:cover;
background-repeat: no-repeat;
height: 350px;
width: 300px;
margin-left: 40px;
border-radius: 35px;
position: relative;
}

/* .none{
background-size:cover;
background-repeat: no-repeat;
height: 350px;
width: 300px;
margin-left: 40px;
border-radius: 35px;
position: relative;
} */

.section-2{
background-color: white;
height: fit-content;
width: 90%;
margin: auto;
margin-top: 30px;
padding: 30px;
border-radius: 25px;
flex-direction: row;
justify-content: center;
}

h2{
text-align: center;
}

.featured-img{
background-repeat: no-repeat;
background-size: 100%;
background-position-y:center;
height: 200px;
width: 300px;
margin-left: 30px;
background-position-y: bottom;
border-radius: 25px;
position: relative;
}

h3{
color:black;  
font-size: 20px;
text-align: left;
}



/*featured products css*/
.card{
position: relative;
background-color: white;
height: 300px;
width: 250px;
border-radius: 15px;
border-color: white;

margin-bottom: 10px;
padding: 20px;
transform: 0.5s ease-in-out;
cursor: pointer;
}

.card h2{
color:black;  
font-family: Bang;
}
.card h3{
color:black;  
font-size: 20px;
text-align: center;
}

.featured-btn{
background:black;
color: white;
width: 100px;
border:none;
border-radius: 7px;
padding: 7px;
margin-top: 15px;
font-size: 14px;
margin-left: auto;
margin-right: auto;
}

.featured-btn:hover{
background-color:white;
color:black;
cursor:pointer;
outline: solid black 1px;
}

.prod-img{
background-size: contain;
background-repeat: no-repeat;
background-position: center;
height:100%;
width: 100%;
margin-bottom: 20px;
border-radius: 15px;
}

.btn{
background:black;
color: white;
width: 100px;
border:none;
border-radius: 7px;
padding: 7px;
margin-top: 15px;
font-size: 14px;
}


.btn:hover{
background: transparent;
color: black;
width: 100px;
border:solid black 1px;
border-radius: 7px;
}

/*Navbar Section*/

nav{
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  flex-wrap: wrap;
  align-items: center;
  height: 55px;
  padding: 0 30px;
} 


  
nav .logo img{
  width: 100%;
  height: 27px;
}



/*Footer section*/  
footer{
background-color: black;
color:white;
position: relative;
bottom: 0px;
width: 100%;
height: min-content;
padding: 20px;

}

.footer-about{
font-size: 14px;
margin-top: 20px;
}

.footer-about a:hover{
color: #f04231;
}

.footer-about img{
max-width: 100%;
height:40px;
margin-left: 10px;
}


.footer-about h3{
font-family: font-face="FF Real Head";
font-weight: 700;
font-size: 20px;
margin-left: 15px;
}

.footer-about p{
font-family: font-face="FF Real Head";
font-size: 12px;
margin-left: 15px;
}

.footer-widget{
font-size: 14px;
margin-top: 20px;
margin-bottom: 20px;
}

.footer-widget H6{
font-size: 16px;
font-weight: 700;
}

.social-icon ul{
padding-left: 0;
}

.footer-widget li{
line-height: 25px;
list-style: none;
font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
line-height: 20px;
list-style: none;
}

.footer-widget ul li:hover{
color: #F04231;
}

.social-icon li a{
color: white;
font-family: font-face="FF Real Head";
}

.social-icon li{
color: white;
font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
color: #F04231;
}

.dti-logo img{
max-width: 100%;
height:40px;
}

.footer-copyright-text{
font-family: font-face="FF Real Head";
font-size: 12px;
}