@font-face {
  font-family: Polaroid;
  src: url(font/FF\ Real\ Head\ Pro/);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
      
}


body{
    font-family: font-face="Polaroid";
    overflow-x: hidden;
    max-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
}

@media(max-width:1245px){
  .bg-img{
    min-height: 60vh;
  }
}

.bg-img{
  height: fit-content;
  background-image: url(../img/bg-home-final.png);
  background-attachment: fixed;
  background-size: cover;
}

.container{
  position: absolute;
  max-width: 800px;
  height: 500px;
  margin: auto;
}

.icon{
  position: absolute;
  margin-left: 15px;
  margin-top: 5px;
}

.left{
  position: relative;
  border-radius: 25px;
  height: 100%;
  padding: 25px;
  padding-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
}

.left p{
  font-size: 13px;
  color: black;
  text-align: right;
  margin-top: 5px;
  margin-bottom: 30px;
}

.left p:hover{
 color:#f04231;
}

.left .signup{
  font-size: 13px;
  color: black;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
}

.left .signup:hover{
  color: black;
}


.signup a:hover{
  color: #F04231;
}

.row{
  height: 100%;
}

.card{
  position: relative;
  margin-top: 142px;
  margin-bottom: 20px;
  height: 100%;
  border-radius: 15px;
  background-color: white;
}

.left header{
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 40px;
  text-align: center;
}

.left .myInput{
  background-color: white;
  width: 230px;
  border-radius: 7px;
  padding: 7px;
  padding-left: 50px;
  border: none;
  font-size: 14px;
  -webkit-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
  box-shadow: 0px 10px 49px -14px rgba(0,0,0,0.7);
}

.left .myInput:focus{
  outline: none;
}

.form-group a{
  color: black;
}

.form-group a:hover{
  color: #f04231;
}

.right{
  position: relative;
  border-radius: 15px;
  height: 100%;
  padding: 30px;
  color:white;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: black;

}

.right p{
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.right .btn{
  background:white;
  color: black;
  width: 230px;
  border:none;
  border-radius: 7px;
  padding: 7px;
  margin-top: 0px;
  font-size: 14px;
}

.btn{
  background:black;
  color: white;
  width: 230px;
  border:none;
  border-radius: 7px;
  padding: 7px;
  font-size: 14px;
}

.btn:hover{
 background-color: transparent;
 color:black;
 border: solid black 1px;
}

.btn-guest{
  background:white;
  color: black;
  width: 230px;
  border:none;
  border-radius: 7px;
  padding: 7px;
  font-size: 14px;
}

.btn-guest:hover{
  background-color: black;
  color:white;
  border: solid white 1px;
}

/*Footer section*/  
footer{
  background-color: black;
  color:white;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: min-content;
  padding-left: 20px;
}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  text-decoration: none;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}

@media(max-width:740px){
  footer{
   position: relative;
  }
}