body{
    font-family: font-face="Polaroid";
    background-color: #f2f2f2 !important;
    overflow-x: hidden;
  }



 .row-guidelines{
   font-weight: 500;
 }
 .row-guidelines-content{
   margin-left: 10px;
   font-weight: 500;
   font-size: 14px;
 }
 
 .row-header-payment .header-payment{
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
 }

  .row-header{
    margin-top: 10px;
    display: flex;
    margin-left: 10px;
    justify-content: space-between;
  }
  
  .row-header .header-summary{
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
  }

  .row-guidelines{
    margin-top: 20px;
    margin-left: 10px;
  }

  
  .rounded-circle{
    border-radius: 15px;
    background-color: #f04231;
    width: 40px;
    margin-right: 10px;
  }
  
  .row-header p{
    text-align: center;
    font-weight: bold;
    color: white;
  }
  
  
  .item{
      border-top: 1px solid #efefef;
  }
  
  .row-div{
      display: flex;
      justify-content: space-between;
  }

  .order-wrapper{
    overflow-y: auto;
    max-height: 235px;
    overflow-x: hidden;
  }
  
  .product-name{
    font-weight: bold;
    font-size: 14px;
  }
  .variation{
    font-size: 12px;
  }
  
  .quantity{
    font-size: 12px;
  }
  
  .price{
    font-size: 13px;
    color: red;
    font-weight: bold;
  }
  
  
  .row-subtotal{
      border-top: 2px solid #efefef;
      display: flex;
      justify-content: space-between;
      line-height: 8px;
  }
  
  .row-discount{
      display: flex;
      justify-content: space-between;
      line-height: 8px;
  }
  
  .row-shipping-fee{
      display: flex;
      justify-content: space-between;
      line-height: 8px;
  }
  
  .row-total{
      display: flex;
      justify-content: space-between;
      line-height: 8px;
  }
  
  .row-subtotal .row,
  .row-discount .row,
  .row-shipping-fee .row,
  .row-total .row{
      margin: 10px;
      font-size: 14px;
  }
  
  .row-total .row{
      font-weight: bold;
  }
  
  
  .shipping-header{
    font-weight: bold;
    font-size: 18px;
  }
 
  .row-btn{
    text-align: center;
  }
  .row-btn .btn{
    width: 300px;
    padding: 4px;
    margin-top: 10px;
  
  }
  
  .card{
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
  }
  .action-btn{
    justify-content: flex-end;
    flex-direction: row;
    text-align: right;
    margin: 10px 10px 0px 0px;
  }
  
  .action-btn .btn{
    border:none;
    border-radius: 7px !important;
    margin-bottom: 10px;
    padding: 7px;
    width: 220px;
    margin-left: 10px;
  }

  .action-btn .btn-proceed{
    background: black;
    color: white;
  }
  
  .action-btn .btn-proceed:hover{
    background: transparent;
    color: black;
    outline: solid black 1px;
  }
  
  .action-btn .btn-return{
    background: white;
    color: black;
  }
  
  .action-btn .btn-return:hover{
    background-color: black;
    color: white;
  }
  
  .action-btn .btn-return:focus, .action-btn .btn-proceed:focus {
    box-shadow: none;
  }
  
  @media only screen and (max-width: 768px){
    .action-btn{
      display: flex;
      flex-direction: column;
      
      }
      .action-btn .btn{
        width: 98%;
        margin-left: 10px;
        margin-right: 0px;
      }
    
      .card{
        margin-bottom: 10px;
      }
  
  }
  
  /*Breadcrumb Navigation*/
  .breadcrumbs{
    padding: 10px;
    margin-left: 10px;
  }
  
  .breadcrumbs_item{
    display: inline-block;
    margin-top: 10vh;
  }
  
  .breadcrumbs_item a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 500;
  }
  
  .breadcrumbs_item a:hover{
    color: gray;
  }
  
  .breadcrumbs_item .active{
    color: #78BE20;
  }
  
  .breadcrumbs_item:not(:last-of-type)::after{
    content:'\203a';
    font-size: larger;
    margin: 0 5px;
    color: black;
  }
  
    /*Footer section*/  
footer{
  background-color: black;
  color:white;
  width: 100%;
  position: relative;
  bottom: 0px;
  width: 100%;
  height: min-content;
  margin-top: 30px;
}

.footer-about{
  font-size: 14px;
  margin-top: 20px;
}

.footer-about a:hover{
  color: #f04231;
}

.footer-about img{
  max-width: 100%;
  height:40px;
  margin-left: 10px;
}


.footer-about h3{
  font-family: font-face="FF Real Head";
  font-weight: 700;
  font-size: 20px;
  margin-left: 15px;
}

.footer-about p{
  font-family: font-face="FF Real Head";
  font-size: 12px;
  margin-left: 15px;
}

.footer-widget{
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-widget H6{
  font-size: 16px;
  font-weight: 700;
}

.social-icon ul{
  padding-left: 0;
}

.footer-widget li{
  line-height: 25px;
  list-style: none;
  font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
  line-height: 20px;
  list-style: none;
  margin-left: -30px;
  text-decoration: none;
  }

.footer-widget ul li:hover{
  color: #F04231;
}

.social-icon li a{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li{
  color: white;
  font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
  color: #F04231;
}

.dti-logo img{
  max-width: 100%;
  height:40px;
}

.footer-copyright-text{
  font-family: font-face="FF Real Head";
  font-size: 12px;
}

@media (max-width: 1600px){
  footer{
    position:fixed;
  }
}