@font-face {
  font-family: Polaroid;
  src: url(font/FF\ Real\ Head\ Pro/);
}


*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: font-face="Polaroid";
}

body{
    line-height: 1.5;
    background-color: whitesmoke;
    max-height: 100%;
    max-width: 100%;
}
.card-wrapper{
    max-width: 1100px;
    margin: 50px auto;
    margin-top: 100px;
    border: none;
}

img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
    border-radius: 25px;
    height: 80%;
}
.img-showcase{
    display: flex;
    width: 100%;
    border-radius: 25px;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
    background-size: contain;
}
.img-select{
    display: flex;    
}
.img-select img{
    height: 100px;
    width: 100px;
    border-radius: 10px;
}
.img-item{
    margin: 0.3rem;
    height: 10px;
    margin-bottom: 20px;
    position: relative;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
    margin-bottom: 20px;
    position: relative;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
    position: relative;
    margin-top: 50px;
}
.product-title{
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: black;
}

.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
  color: #ffc107;
  height: 12px;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 25px;
    font-weight: 700;
    color: #F04231;
}
.product-price span{
    font-weight: 400;
}

.product-price .stocks{
  font-size: 14px;
}

.product-price .stocks-greater{
  font-size: 12px;
  color:black;
  font-weight: 400;
}

.product-detail h2{
  font-size: 23px;
  color: black;
  padding-bottom: 0.6rem;
  font-weight: 100;
}
.product-detail p{
  font-size: 13px;
  color: black;
}
.purchase-info{
    margin: 1.5rem 0;
}

li{
    font-size: 13px;
    font-family: font-face="Polaroid";
    color:black;
}
.input-qty{
  float: right;
  width: 40px;
  margin-top: -45px;
  border-color: transparent;

  text-align: center;
  font-size: 16px;
}

.purchase-info p{
  color:black;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
}


/*product variatiants*/
.circle{
  font-size: 14px;
  background-color:transparent;
  border: solid black 1px;
  border-radius: 7px; 
  width: fit-content; 
  height: fit-content; 
  padding: 5px; 
  margin-top: 15px; 
  position: relative;
  justify-items:start;
  text-align: center;
}
.circle:hover{
  color: white;
  cursor: pointer;
  background-color: black;
  border: solid white 1px;
}

/*add to cart button*/
.add-to-card-btn{
  background-color: black;
  border: 1.5px solid #ddd;
  border-radius: 7px;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-left: 100px;
  margin-bottom: 1rem;
  margin-top: 10px;
}

.add-to-card-btn{
    cursor: pointer;
    color: #fff;
    float: right;
}
.add-to-card-btn:hover{
  background-color: white;
  color: black;
  border: solid black 1px;
}


@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
        border: none;
        padding: 20px;
    }
    .card-wrapper{
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: top;
    }
    .product-content{
        padding-top: 0;
    }
}


    /*Footer section*/  
    footer{
      background-color: black;
      color:white;
      position: relative;
      margin-top: 8vh;
      width: 100%;
      height: max-content;
      padding-left: 20px;
      overflow-x:hidden;
    }
    
    .footer-about{
      font-size: 14px;
      margin-top: 20px;
    }
    
    .footer-about a:hover{
      color: #f04231;
    }
    
    .footer-about img{
      max-width: 100%;
      height:40px;
      margin-left: 10px;
    }
    
    
    .footer-about h3{
      font-family: font-face="FF Real Head";
      font-weight: 700;
      font-size: 20px;
      margin-left: 15px;
    }
    
    .footer-about p{
      font-family: font-face="FF Real Head";
      font-size: 12px;
      margin-left: 15px;
    }
    
    .footer-widget{
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    
    .footer-widget H6{
      font-size: 16px;
      font-weight: 700;
    }
    
    .social-icon ul{
      padding-left: 0;
    }
    
    .footer-widget li{
      line-height: 25px;
      list-style: none;
      font-family: font-face="FF Real Head";
    }
    
    .footer-widget ul li a{
      line-height: 20px;
      list-style: none;
      
      }
    
    .footer-widget ul li:hover{
      color: #F04231;
    }
    
    .social-icon li a{
      color: white;
      font-family: font-face="FF Real Head";
    }
    
    .social-icon li{
      color: white;
      font-family: font-face="FF Real Head";
    }
    
    .social-icon li a:hover{
      color: #F04231;
    }
    
    .dti-logo img{
      max-width: 40%;
      height:40px;
    }
    
    .footer-copyright-text{
      font-family: font-face="FF Real Head";
      font-size: 12px;
    }