@font-face {
  font-family: Polaroid;
  src: url(font/FF\ Real\ Head\ Pro/);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
   
}

body{
    height: 100%;
    background: #F4F4F4;
    font-family: font-face="Polaroid";
    padding-top: 20px;
    overflow-x: hidden;
    flex-direction: column;
    min-height: 100vh;
}

/*css for body*/
.container{
  background: white;
  width: 100%;
  height: 100%;
  padding: 70px;
  border-radius: 10px;
  margin-top: 70px;
  margin-bottom: 20px;
  

  text-align: center;
  justify-content: center;
}

.container h5{
  font-weight: 500;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}  

.track p{
  font-size: 16px;
  position: relative;
  text-align: left;
}

.text-box{
  background: #f4f4f4;
  color: black;
  border: none;
  
  width: 300px;
  padding: 10px;
  font-size: 15px;
  border-radius: 10px;
  margin-left: 15px;
  position: relative;
}


.btn-track{
  background:black;
  color: white;
  height: 40px;
  width: 100px;
  font-size: 14px;
  border-radius: 10px;
  padding: 7px;

  margin-top:10px;
}

.choose-file{
  height: fit-content;
  width: fit-content;
}
.btn-track:hover{
  background: white;
  cursor: pointer;
  color: black;
  border: solid black 1px;
}

/*Footer section*/  
footer{
background-color: black;
color:white;
position:fixed;
bottom:0;
width: 100%;
margin-top: 49px;
height: min-content;

}

.footer-about{
font-size: 14px;
margin-top: 20px;
}

.footer-about a:hover{
color: #f04231;
}

.footer-about img{
max-width: 100%;
height:40px;
margin-left: 10px;
}


.footer-about h3{
font-family: font-face="FF Real Head";
font-weight: 700;
font-size: 20px;
margin-left: 15px;
}

.footer-about p{
font-family: font-face="FF Real Head";
font-size: 12px;
margin-left: 15px;
}

.footer-widget{
font-size: 14px;
margin-top: 20px;
margin-bottom: 20px;
}

.footer-widget H6{
font-size: 16px;
font-weight: 700;
}

.social-icon ul{
padding-left: 0;
}

.footer-widget li{
line-height: 25px;
list-style: none;
font-family: font-face="FF Real Head";
}

.footer-widget ul li a{
line-height: 20px;
list-style: none;
}

.footer-widget ul li:hover{
color: #F04231;
}

.social-icon li a{
color: white;
font-family: font-face="FF Real Head";
}

.social-icon li{
color: white;
font-family: font-face="FF Real Head";
}

.social-icon li a:hover{
color: #F04231;
}

.dti-logo img{
max-width: 100%;
height:40px;
}

.footer-copyright-text{
font-family: font-face="FF Real Head";
font-size: 12px;
}